USE [master]
GO
/****** Object:  Database [Egzaminass]    Script Date: 2024-01-30 13:33:52 ******/
CREATE DATABASE [Egzaminass]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Egzaminass', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Egzaminass.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Egzaminass_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Egzaminass_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Egzaminass].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Egzaminass]
GO
/****** Object:  Table [dbo].[MasterPassword]    Script Date: 2024-01-30 13:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MasterPassword](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPassword]    Script Date: 2024-01-30 13:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPassword](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Paskirtis] [nvarchar](30) NULL,
	[Slaptazodis] [nvarchar](max) NULL,
	[Data] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MasterPassword] ON 

INSERT [dbo].[MasterPassword] ([id], [PasswordHash], [Salt]) VALUES (6, N'6c302737d8f3c4cb055c7e4712cb93e49db88c977ee972d3800a1133d7d8c237', N'D5-CE-8D-6D-A3-62-13-9B-D0-16-0B-00-6F-5F-66-04')
SET IDENTITY_INSERT [dbo].[MasterPassword] OFF
GO
SET IDENTITY_INSERT [dbo].[UserPassword] ON 

INSERT [dbo].[UserPassword] ([id], [Paskirtis], [Slaptazodis], [Data]) VALUES (27, N'testasssssss', N'>4Hc4^M844l4!1*0', CAST(N'2024-01-12' AS Date))
INSERT [dbo].[UserPassword] ([id], [Paskirtis], [Slaptazodis], [Data]) VALUES (29, N'daasd', N'@&*n<49lF94n4-7#', CAST(N'2024-01-13' AS Date))
SET IDENTITY_INSERT [dbo].[UserPassword] OFF
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 2024-01-30 13:33:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
    @id INT
AS
BEGIN
    DELETE FROM UserPassword
    WHERE id = @id;
END;
GO
USE [master]
GO
